<%= form_for [@course, @appointment] do |form| %>

<div class="row justify-content-center" style="margin-top: 5rem;">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-center mb-5">Programmeerbalie</h1>
        <h3 class="text-center">Wanneer?</h3>
        <h5 class="text-center text-muted fw-light">Op welk moment wil je assistentie?</h5>
    </div>
</div>

<form>
    <div class="row justify-content-center">
        <% i = 0%>
        <% @suggestions.each do |suggestion| %>
            <% if i % 3 == 0 %>
                </div>
                <div class="row justify-content-center">
            <% end %>
            <div class="col-lg-2">
                <label class="card-input-label">
                    <%= form.radio_button :slot, suggestion["dt"].to_i, class: "card-input-element" %>
                    <div class="card d-flex flex-row bg-light">
                        <div class="card-body">
                            <small class="text-uppercase text-muted"><%= suggestion["daytext"] %></small>
                            <h5 class="card-title mt-1"><%= suggestion["date"] %></h5>
                            <h6 class="card-subtitle text-muted">Om <%= suggestion["time"] %></h6>
                        </div>
                    </div>
                </label>
            </div>
            <% i += 1 %>
        <% end %>
    </div>

    <div class="row mb-5 justify-content-center" style="margin-top: 2.5rem;">
        <div class="col-lg-6">
            <h3 class="text-center">Waarmee?</h3>
            <h5 class="text-center text-muted fw-light">Met welke opdracht wil je assistentie?</h5>
            <div class="form-floating mt-4">
                <%= form.text_field :subject, class: "form-control", placeholder: "Opdracht", value: "" %>
                <%= form.label :subject, text: 'Opdracht' %>
            </div>
        </div>
    </div>

    <div class="row my-5 justify-content-center">
        <div class="col-lg-6">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Maak afspraak</button>
        </div>
    </div>

</form>

<% end %>
