<% if @suggestions.count == 0%>
    <p class="text-center pt-3 text-muted">No slots are currently available 🤨</p>
<% else %>

<%= form_for [@course, @appointment] do |form| %>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <h2 class="text-center"><%= @course.name %></h2>
        <h5 class="text-center text-muted fw-light">When would you like to meet?</h5>
    </div>
</div>

<div class="row justify-content-center flex-wrap mx-md-auto" style="max-width: 50rem;">
    <% @suggestions.each do |suggestion| %>
        <div class="col-md-4">
            <label class="card-input-label">
                <%= form.radio_button :slot, suggestion["dt"].to_i, checked: @suggestions.first==suggestion, class: "card-input-element" %>
                <div class="card d-flex flex-row bg-light">
                    <div class="card-body align-items-baseline">
                        <h3 class="card-title mt-0 mt-sm-1 mb-0"><%= suggestion["daytext"] %></h5>
                        <small class="text-uppercase text-muted"><%= suggestion["date"] %></small>
                        <h3 class="card-subtitle mt-0 mt-md-2"><%= suggestion["time"] %></h6>
                    </div>
                </div>
            </label>
        </div>
    <% end %>

</div>

<div class="row mb-3 mb-md-5 justify-content-center" style="margin-top: 2.5rem;">
    <div class="col-lg-6">
        <h5 class="text-center text-muted fw-light">What would you like to talk about?</h5>
        <div class="form-floating mt-4">
            <%= form.text_field :subject, class: "form-control", placeholder: "Assignment", value: "", required: true, autofocus: true %>
            <%= form.label :subject do 'Assignment' end %>
        </div>
        <h5 class="text-center text-muted fw-light mt-4">Where will you meet?</h5>
        <div class="form-floating mt-4 fs-5">
            <% if Hash === @course.locations %>
            <%= form.collection_radio_buttons :location, @course.locations, :second, :first do |b|
                content_tag(:div, class: 'form-check form-check-inline ps-1 pb-1') { b.label { b.radio_button(required: true) + " " + b.text } }
            end %>
            <% else %>
            <%= form.text_field :location, class: "form-control", placeholder: "Link/locatie", value: @course.location, required: true %>
            <%= form.label :location do 'Location' end %>
            <% end %>
        </div>
    </div>
</div>

<div class="row mb-3 mb-md-5 justify-content-center">
    <div class="col-lg-4">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Reserve my spot</button>
    </div>
</div>

<% end %>

<% end %>
