<div class="row" style="margin: 5rem;">

    <div class="col-lg-3">
    </div>

    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-center mb-5">Programmeerbalie</h1>
        <p class="text-center">Voer je gegevens in zodat we je kunnen herkennen!</p>
        <% if current_user.errors.any? %>
        <div id="error_explanation" class="card p-3 bg-warning mb-3">
            <p><strong>Can't create your account:</strong></p>
            <ul>
                <% current_user.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for(current_user, url: users_path, class: 'p-4 p-md-5 border rounded-3 bg-light') do |form| %>
            <%= hidden_field_tag :goto, params[:goto] %>
            <div class="form-floating mb-3">
                <input name="user[name]" required type="name" class="form-control" id="floatingName" placeholder="name@example.com" value="<%= current_user.name %>">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="user[email]" required type="email" class="form-control" id="floatingMail" placeholder="E-mail" value="<%= current_user.email %>">
                <label for="floatingMail">Email address</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <% end %>
    </div>

    <div class="col-lg-3">
    </div>

</div>
