<div class="col-lg-3 col-md-6 mt-0 mb-4 live-col" data-appointment="<%= appointment.id %>">
    <div class="card <%= appointment.status %>">
        <div class="card-body">
            <small class="text-uppercase text-muted"><%= appointment.course.name %></small>
            <h6 class="card-title mt-0 mt-sm-1 mb-0"><%= appointment.user.name %></h6>
            <p class="mt-0 text-truncate small">@ <%= link_to_if appointment.location =~ URI.regexp, appointment.location, appointment.location %></p>
            <p class="mt-0 mt-md-2 mb-0">"<%= appointment.subject %>"</p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-end align-items-center">
                <% if appointment.cancelled? %>
                    <span class="text-muted">Cancelled</span>
                <% end %>
                <% if appointment.helper.present? %>
                    <%= appointment.helper_name %>
                    <% unless appointment.done? %>
                    <%= button_to '✔️ Done', appointment_complete_path(appointment), method: :put, class: 'ms-3 btn btn-primary btn-sm float-end', form_class: 'd-inline-block' %>
                    <% end %>
                <% elsif appointment.active? %>
                    <%= button_to '✖ Cancel', appointment_cancel_path(appointment), method: :put, class: 'ms-3 btn btn-primary btn-sm float-end', form_class: 'd-inline-block' %>
                    <%= button_to 'Me!', appointment_claim_path(appointment), method: :put, class: 'ms-3 btn btn-primary btn-sm float-end', form_class: 'd-inline-block' %>
                <% end %>
        </div>
    </div>
</div>
