<!DOCTYPE html>
<html>
<head>
    <title>Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Spotter</a>
            <span class="ms-auto text-light">
                <% if signed_in? %>
                    <%= current_user.name %>
                <% elsif request.session['cas'] %>
                    <%= request.session['cas']['user'] %>
                <% end %>
            </span>
            <%= button_to 'Logout', logout_path, method: :post, class: 'btn btn-outline-light ms-3' %>
        </div>
    </nav>
    <% if notice.present? %>
    <p class="alert alert-primary"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container mt-5">
        <%= yield %>
    </div>
</body>
</html>
